# Arquivos locais e temporários
tmp/
.wrangler/
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Logs e dependências futuras
*.log
node_modules/

# Variáveis locais
.env
.env.*
!.env.example
